<%= render 'shared/header' %>


<p id="notice"><%= notice %></p>

<div class="container">

  <div class="mom-index-wrapper">

  <h1>理想の人を探す</h1>

  <div class="row">

    <%= render @moms %>


  </div>
</div>
<!-- mom-index-wrapper -->


</div>
<!-- container -->


<%= render 'shared/footer' %>
