
<%= render 'shared/header' %>


<div class="about-page-wrapper">





  <div class="row about-consept">
    <div class="col-md-5">
    </div>

    <div class="col-md-7">
      <h1>CONSEPT</h1>

      <h2>シングルマザー、<br>
        シングルファザーが<br>
        安心して出会えるサイト。<br>
        <br>
        お互いに理解し合える相手を<br>
        見つける手助けをする。<br>
      </h2>


    </div>



</div>






</div>
<!-- about-page-wrapper -->







<%= render 'shared/footer' %>
