
<%= render 'shared/header' %>


<div class="top-image">

  <div class="bg-inner">

    <h2>Dear Mom....</h2>
    <p>シングルマザー・ファザー専用コミュニティサイト</p>

    <%= link_to 'はじめる', new_mom_path %>

  </div>

</div>

<div class="container">

</div>

<%= render 'shared/footer' %>
