// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// home.html.erb


.top-image {
  background-image: url("/images/marriage.jpg");
  background-size: cover;
  height: 600px;

  h2 {
    padding-top: 200px;
    text-align: center;
    color: #FFF;
    font-size: 60px;
  }

  a {
    display: block;
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
    color: #FFF!important;
    margin: 0 auto;
    border: solid #FFF;
    width: 200px;
    margin-top: 60px;
  }

  a:hover {
    background: #FFF;
    color: #333!important;
    font-weight: bold;
    transition: all .8s;
    text-decoration: none;
  }

  p {
    text-align: center;
    color: #fff;
  }

}


.bg-inner {
  background-color: rgba(0, 0, 0, .3);
  height: 600px;
}


// about.htnl.erb

.about-page-wrapper {
}


.about-consept {
  background-image: url("/images/baby3.jpg");
  background-size: cover;
  height: 700px;

  h1 {
    color: #FFF;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  h2 {
    color: #F1f1f1;
    padding-bottom: 200px;
    font-size: 49px;
  }

  a {
    display: block;
    text-align: center;
    top: 50%;
    position: relative;
  }


}
