// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.user-show-wrapper {
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: rgb(154, 188, 195);
  padding: 70px;
  border-radius: 7px;

  h2 {
    text-align: center;
    margin-bottom: 100px;

    a {
      margin-left: 10px;
      font-size: 15px;
    }
  }

  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  p {

  }

}

#edit-mom {
  text-align: center;
  margin-top: 20px;
}


// users/edit

.user-edit-wrapper {
  background-color: rgb(154,188,195);
  padding: 50px;
  border-radius: 7px;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 50px;

  }

}

// users/sign_in

.login-wrapper {
  background-color: rgb(154,188,195);
  padding: 50px;
  border-radius: 7px;
  margin-top: 50px;
  margin-bottom: 70px;

    h2 {
      margin-bottom: 50px;
}

}

// users/sign_up

.sign-up-wrapper {
  background-color: rgb(154,188,195);
  padding: 50px;
  border-radius: 7px;
  margin-top: 50px;
  margin-bottom: 70px;

    h2 {
      margin-bottom: 50px;
      text-align: center;
  }

}
